// atomic Coveo search UI customization help link: https://docs.coveo.com/en/atomic/latest/usage/themes-and-visual-customization/

// previousButtonIcon:: <svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12" fill="none"><path d="M0.840027 1.41L5.42003 6L0.840027 10.59L2.25003 12L8.25003 6L2.25003 0L0.840027 1.41Z" fill="currentcolor"/></svg>
// previousButtonIcon:: <svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12" fill="none"> <path d="M8.15997 1.41L3.57997 6L8.15997 10.59L6.74997 12L0.749973 6L6.74997 0L8.15997 1.41Z" fill="currentcolor"/>  </svg>
// learn about Storybook:: https://static.cloud.coveo.com/atomic/v2.25/storybook/index.html?path=/story/atomic-pager--default-pager

atomic-search-layout {
  margin-bottom: rem(50px);
  --atomic-primary: #061D49;
  --atomic-border-radius: 4px;
  --atomic-neutral: #DFE3E8;
  --atomic-neutral-light: #9F9F9F;
  --atomic-neutral-dark: #1D1D1D;
  --atomic-text-xl: 14px;
  --atomic-text-base: 12px;
}

atomic-layout-section[section="pagination"] {
  @media only screen and (min-width: 1024px) {
    padding-top: 40px;
  }

  @media only screen and (max-width: 1023.99px) {
    padding: 20px 0;
  }
}

atomic-pager {
  &::part(buttons) {
    gap: 8px;
  }

  &::part(page-button),
  &::part(next-button),
  &::part(previous-button) {
    width: 32px;
    height: 32px;
    min-height: auto;
    min-width: auto;
    font-size: rem(14px);
    border-width: 1px;
    border-style: solid;
  }

  &::part(next-button),
  &::part(previous-button) {
    padding-top: 0;
  }

  &::part(page-button) {
    padding-top: 1px;
  }

  &::part(active-page-button) {
    border: 1px solid var(--atomic-primary);
    color: var(--atomic-primary);
  }
}


//filter part
atomic-facet {
  &::part(facet) {
    padding: 0;
    border-radius: 20px;
    margin-bottom: 25px;
    overflow: hidden;
    border: 0;
  }

  &::part(label-button)  {
    padding: 5.5px 15px;
    font-size: 14px;
    font-weight: 400;
    color: rgba($primary, 0.45);
    border: 1px solid var(--atomic-primary);
    border-radius: 20px;
  }

  &::part(label-button-icon) {
    fill: none;
    position: relative;

    &:after {
      position: absolute;
      right: -3px;
      top: -7px;
      content: "\e900";
      font-family: "icomoon";
      background: none;
      font-size: 20px;
      color: $primary;
      width: auto;
      height: auto;
      margin: 0;
      transition: 0.2s ease-in;
      border: none;
      fill: none;
    }
  }

  &::part(values) {
    margin: 0;
    border: 1px solid var(--atomic-primary);
    border-radius: 20px;
    overflow: hidden;
  }

  &::part(value-checkbox) {
    width: 10px;
    height: 10px;
    left: rem(15px);
    border-radius: 2px;
    border: 1px solid var(--atomic-primary);

    &:hover {
      border-color: $white;
      background: var(--atomic-primary);
    }
  }

  &::part(value-checkbox-checked) {
    background: var(--atomic-primary);
    border-color: $white;
    color: $white;
  }

  &::part(value-checkbox-label) {
    padding: 12.5px 5px 12.5px 37px;
    font-size: 14px;
    font-weight: 400;
    color: var(--atomic-primary);

    &:hover {
      background: var(--atomic-primary);
      color: $white;
    }
  }

  &::part(value-link) {
    padding: 6.5px 5px 6.5px 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--atomic-primary);

    &:hover {
      color: $white;
      border-color: $white;
      background: var(--atomic-primary);
    }
  }

  // it is possible (on active bg & color highlight ) but, commented only for the design consistencies.
  //&::part(value-link-selected) {
  //  color: $white;
  //  border-color: $white;
  //  background: var(--atomic-primary);
  //}

  &::part(value-count),
  &::part(value-label) {
    color: inherit;
  }

  &::part(value-count) {
    margin-left: 3px;
  }

  &::part(clear-button) {
    display: none;
  }
}

atomic-facet-manager {
  &:has(atomic-facet:not(.atomic-hidden):not(.d-none)) {
    @media only screen and (max-width: 1023.99px) {
      display: block;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--atomic-neutral);
      margin-bottom: 0;
    }
  }
}

atomic-query-summary::part(container) {
  --atomic-on-background: #1D1D1D;
}

atomic-search-layout atomic-layout-section[section='main'] {
  @media only screen and (max-width: 1023.99px) {
    display: block;
    margin-top: 40px;
  }
}

//result list
atomic-result-list::part(outline) {
  --atomic-on-background: var(--atomic-primary);
  line-height: 20px;

  &::before {
    margin: 18px 0 13px 0!important;

    @media only screen and (max-width: 1023.99px) {
      margin: 11px 0 !important;
    }
  }
}

// No result layout
atomic-no-results {
  &::part(icon) {
    max-width: 200px;
  }

  &::part(icon),
  &::part(search-tips),
  &::part(no-results) {
    display: none;
  }

  .no-result {
    font-size: rem(18px);
    text-align: center;
    padding-top: 15px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 12px;
    }

    @media screen and (min-width: 992px) {
      padding-top: 30px;
    }

    @media screen and (min-width: 1025px) {
      padding-top: 50px;
    }

    .no-result-title {
      margin: 0;
    }

    &-image {
      text-align: center;
      color: var(--atomic-primary);
      margin-bottom: 60px;

      svg,
      img {
        display: block;
        height: auto;
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
          max-width: 292px;
        }
        @include media-breakpoint-down(lg) {
          max-width: 205px;
        }
      }
    }

    &-content {
      max-width: 900px;
      margin: 0 auto;
      ul,
      ol {
        text-align: left;
      }
    }
  }
}

.atomic-search-interface-no-results atomic-layout-section[section=main] {
  padding-left: 0;
}

//highlighted section for search result
.highlighted-section {
  background: var(--atomic-primary);

  @include media-breakpoint-up(md) {
    padding: 30px;
  }

  @include media-breakpoint-down(md) {
    padding: 30px 20px;
  }

  color: $white;
  margin-top: 30px;
  font-size: rem(14px);
  line-height: rem(20px);

  h3 {
    font-size: rem(24px);
    margin-bottom: 10px;
    @include media-breakpoint-down(md) {
      font-size: rem(16px);
    }
  }

  &_footer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 33px;
    margin: 30px 0 3px 0;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      gap: 0;
    }

    .button-link .dmpro-v2 {
      &,&:not([disabled]):hover {
        background: $white;
        color: var(--atomic-primary) !important;
        border-color: $white;
        font-weight: normal !important;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }

  &_login-label {
    display: flex;
    align-items: center;
    margin: 0;

    a {
      display: inline-block;
      margin-left: 6px;
      font-weight: 700;
    }
  }
}


// Responsive Media query
@media only screen and (min-width: 1024.1px) {
  atomic-search-layout {
    grid-template-columns: 1fr minmax(16rem, 323px) minmax(50%, 70rem) 1fr !important;
    column-gap: 0 !important;
  }

  atomic-layout-section[section="facets"] {
    border-right: 1px solid rgba(221, 221, 221, 1);
    padding-right: 22px;
  }

  atomic-layout-section[section="main"] {
    padding-left: 30px;
  }
  atomic-query-summary::part(container) {
    font-size: rem(16px);
    line-height: 1.5;
    padding: 0 0 15px 0;
  }
}

@media only screen and (max-width: 1023.99px) {
  atomic-search-layout atomic-layout-section[section='status'] atomic-query-summary {
    --atomic-layout-spacing-y: 11px;
  }

  atomic-search-layout {
    display: block !important;
  }

  atomic-layout-section[section="main"] {
    padding-left: 0;
  }

  atomic-layout-section[section="facets"] {
    display: block;
    margin-top: 20px;
  }
  atomic-search-layout atomic-layout-section[section='status'] atomic-refine-toggle {
    display: none;
  }

  atomic-result-list::part(result-list) {
    grid-template-columns: none;
  }

  atomic-query-summary::part(container) {
    font-size: rem(16px);
    line-height: 1.5;
  }

  .atomic-search-interface-no-results atomic-layout-section[section="facets"] {
    display: none;
  }
}